
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    background:linear-gradient(
        90deg, rgb(36, 8, 58),rgb(37, 52, 105)
    );
    overflow-x:hidden;
}

header
{
   display:flex;
   justify-content: space-around;
}

ul
{
    display:flex;
}

ul li
{
    list-style:none;
    padding:20px;
    display:inline;
}

a
{
    color:white;
    text-decoration:none;
    padding:10px;
}

.logo
{
    font-size:40px;
}

section
{
   position:relative;
   width:100%;
   height:100vh;
   display:flex;
   justify-content: center;
   align-items: center;
}

section img
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

#moon
{
    mix-blend-mode: screen;
}

#text
{
    color:white;
    position:absolute;
    z-index:9;
    font-size:120px;
    right:-350px;
}

#front
{
    z-index:10;
}

#btn
{
    font-size:40px;
    transform:translateY(100px);
    z-index:9;
}

div.content
{
   position:relative;
   color:white;
   background:linear-gradient(
        90deg, rgb(36, 8, 58),rgb(37, 52, 105)
    );
    z-index:11;
   padding:20px;
}

.content h2
{
    font-size:50px;
    margin-left:35%;
    padding:25px;
}

.content p
{
    font-size:20px;
}





